
<div class="container">
<section>

	<div class="row">
		<div class="col-md-12 text-center">
			<div class="heading">
				<h2>Registros Gráficos</h2>
			</div>
		</div>
	</div>

	<div class="row portfolio">
		<div class="col-sm-6">
			<div class="box-image">
				<div class="image">
					<img src="../img/hacker.jpg" alt="" class="img-responsive">
				</div>
				<div class="bg"></div>
				<div class="name">
					<h3><a href="portfolio-detail.html"> Reunión de Hackers And Founders en CDMX</a></h3>
				</div>
				<div class="text">
					<p class="hidden-sm">Sesión donde facilitamos los registro gráficos de seis charlas.</p>
				</div>
			</div>
			<!-- /.box-image -->

		</div>

		<div class="col-sm-6">
			<div class="box-image">
				<div class="image">
					<img src="../img/principios-agiles.png" alt="" class="img-responsive">
				</div>
				<div class="bg"></div>
				<div class="name">
					<h3><a href="portfolio-detail.html">Principios Ágiles para desarrolladores</a></h3>
				</div>
				<div class="text">
					<p class="hidden-sm"> Láminas hechas para el curso de agilidad en Making Devs.</p>
				</div>
			</div>
			<!-- /.box-image -->
		</div>

		<div class="col-sm-6">
			<div class="box-image">
				<div class="image">
					<img src="../img/cultura-agil.jpg" alt="" class="img-responsive">
				</div>
				<div class="bg"></div>
				<div class="name">
					<h3><a href="portfolio-detail.html">Cultura Ágil</a></h3>
				</div>
				<div class="text">
					<p class="hidden-sm">Registro gráfico de la charla Cultura Ágil en el meetup de Ágiles México en Puebla.</p>
				</div>
			</div>
			<!-- /.box-image -->

		</div>

		<div class="col-sm-6">
			<div class="box-image">
				<div class="image">
					<img src="../img/git.jpg" alt="" class="img-responsive">
				</div>
				<div class="bg"></div>
				<div class="name">
					<h3><a href="portfolio-detail.html">Git: procesos y herramientas para mejorar personas y sus interacciones.</a></h3>
				</div>
				<div class="text">
					<p class="hidden-sm">Registro gráfico para proponer una charla en un Open Space en Noviembre del 2017 en Ágiles México.</p>
				</div>
			</div>
			<!-- /.box-image -->
		</div>

	</div>

</section>
</div>
