<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 col-md-4 user-details">
			<div class="user-image">
				<img src="https://avatars2.githubusercontent.com/u/17634377?v=3&u=516a44b9c2063faff245d977b3cadc91c571cfcb&s=400+" alt="Karan Singh Sisodia" width="35%" class="img-circle">
			</div>
			<div class="user-info-block">
				<div class="user-heading">
					<br><br><h3>@carlogilmar</h3>
					<strong>Estudié un rato Sociología en la UNAM, y también Ingeniería Informática. Actualmente soy desarrollador de software en Making Devs.</strong>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
