{{ if .Site.Params.topbar.enable }}
<div id="top" style="background:#001C20">
  <div class="container">
    <div class="row">
      <div class="col-xs-5" style="font-family: 'Lobster', cursive; font-size: 20px">
        Blog Personal de @carlogilmar
      </div>
      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="top" style="background:#F3A851"></div>
<div id="top" style="background:#da4d4d"></div>
{{ end }}
